*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.apod{
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.apod p{
    width: 60%;
}

.apod button{
    width: fit-content;
}

.epic{
    height: 100vh;
    padding-top: 100px;
}

.rover{
    height: 100vh;
    padding-top: 100px;
}

.card{
    height: 470px;
}